
/**********************************************************
MAIN STYLES
**********************************************************/


body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	min-height: 750px;
	background-image: url('/static/symphony.png');
}



/**********************************************************
HEADER
**********************************************************/


header {
	width: 100%;
	height: 95px;
	background: rgb(156, 31, 49);
	color: #fff;
	border-bottom: 5px solid #C4666A;
}

.back-button-arrow {
	width: 2em;
	height: 2em;
	float: left;
	margin: 2.5%;
	display: none;
}

#logo { 
	font: 2em 'Roboto', sans-serif;
	font-weight: 700;
	width: 60%;
	max-width: 75%;
	margin: 30px 2.5%;
	float: left;
}

#logo a {
	text-decoration: none;
	color: #fff;
}

#nav-top {
	font:'Roboto', sans-serif;
	font-weight: 700;
	width: 20%;
	margin: 30px 2.5%;
	text-align: right;
	float: right;
}

#nav-top a {
	text-decoration: none;
	color: #fff;
}


/**********************************************************
MAIN CONTENT
**********************************************************/


#content {
	max-width: 480px;
	margin: 0 auto;
	padding: 50px 0 60px;
	text-align: center;
	min-height: 425px;
}

#content .question {
	margin-bottom: 50px;
	font-size: 1.5em;
	max-width: 100%;
    display: none;
}

#content img {
  max-width: 100%;
}

.answers {
	width: 95%;
	margin: 0 auto;
	max-width: 95%;
    display: none;
}

.answers ul {
	list-style: none;
}

.answer {
	font-size: 1.25em;
	width: 95%;
	max-width: 95%;
	padding: 10px;
	margin: 12px auto;
	/*background-color: rgba(247, 142, 30, 1);*/
	background-color: #696868;
	text-align: center;
	cursor: pointer;
}

.answer a {
	text-decoration: none;
	color: #fff;
}

.answer:hover {
	/*background: rgba(242, 182, 116, 1);*/
	background: #888;
}

.answer:active {
	background: #000;
}

.protip,
.comment {
	font-weight: 400;
	font-size: 1.25em;
	background-color: rgba(0, 180, 209, 1);
	padding: 10px;
	margin: 10px;
	display: block;
	color: #fff;
}


/**********************************************************
WHAT IS THIS PAGE
**********************************************************/

#title {
	margin-bottom: 20px;
	font-size: 1.5em;
	font-weight: bolder;
	max-width: 100%;
}

#words {
	display: block;
	margin: 10px 10px 30px;
	text-align: left;
}

#cat-gif-mobile {
	display: none;
}

/**********************************************************
BACK BUTTON
**********************************************************/


.back-button-text a {
	font-family:'Roboto';
	font-weight: 700;
	text-decoration: none;
	font-size: 1.25em;
	color: black;
}

.back-button-text {
	display: block;
	width: 80%;
	margin: 0 auto 30px;
	text-align: center;
}


/**********************************************************
FOOTER
**********************************************************/

#nav-bottom {
	display: none;
	font:'Roboto', sans-serif;
	font-weight: 700;
}

footer {
	text-align: center;
	font-size: 1em;
	padding-top: 10px;
	width: 300px;
	margin: 5px auto 10px;
}

footer a {
	margin: 10px auto 0;
	text-decoration: none;
	color: black;
}

.social-icon {
	width: 25px;
	height: 25px;
	margin: 10px;
}










