@media screen and (max-width: 660px) {

	/**********************************************************
	HEADER
	**********************************************************/

	header {
		height: 70px;
	}

	#logo {
		float: none;
		text-align: center;
		width: 100%;
		margin: auto;
		margin-left: -2em;
		padding: 25px 10px;
	}

    .back-button.arrow,
	#arrow {
		display: inline-block;
	}

	/**********************************************************
	MAIN CONTENT
	**********************************************************/


	#content {
		max-width: 95%;
		padding: 0;
		margin-top: 8%;
		margin-bottom: 0;
	}

	#content .question {
		margin-bottom: 5%;
		font-size: 1em;
	}

	.answer {
		height: 35px;
		padding: 5px;
		font-size: 1em;
	}

	.back-button {
		font-size: .75em;
		padding: 5px;
		display: none;
	}

	#cat-gif {
		max-width: 95%;
	}
	
	/**********************************************************
	FOOTER
	**********************************************************/

	#nav-top {
		display:none;
	}
	
	#nav-bottom {
			display: block;
			padding: 10px;
		}


}




@media screen and (min-width: 511px) {

	#cat-gif-mobile {
		display: none;
	}

}





@media screen and (max-width: 510px) {


	header {
		height: 50px;
	}

	#logo {
		font-size: 1.5em;
		margin-left: -1.5em;
		padding: 17px 10px;
	}

    .back-button.arrow,
	#arrow {
		height: 1.5em;
		width: 1.5em;
	}

	#cat-gif-large {
		display: none;
	}

	#cat-gif-mobile {
		display: block;
	}

	#words {
		float: right;
		display: block;
		margin: 0 10px 30px;
		text-align: left;
	}

	#content .concert-date, 
	#content .concert-title {
		float: none;
		display: block;
		text-align: center;
	}

	#content .concert-date {
		margin-top: 5px;
	}


}





