@media screen and (max-width: 660px) {

	/**********************************************************
	HEADER
	**********************************************************/

	header {
		height: 70px;
	}

	#logo {
		float: none;
		text-align: center;
		width: 100%;
		margin: auto;
		margin-left: -2em;
		padding: 10px;
	}

	#arrow {
		display: inline-block;
	}

	/**********************************************************
	MAIN CONTENT
	**********************************************************/


	#content {
		max-width: 95%;
		padding: 0;
		margin-top: 8%;
		margin-bottom: 0;
	}

	#content .question {
		margin-bottom: 5%;
		font-size: 1em;
	}

	.answer {
		height: 35px;
		padding: 5px;
		font-size: 1em;
	}

	#back-button {
		font-size: .75em;
		padding: 5px;
		display: none;
	}

	#cat-gif {
		max-width: 95%;
	}
	
	/**********************************************************
	FOOTER
	**********************************************************/

	#nav-top {
		display:none;
	}
	
	#nav-bottom {
			display: block;
			padding: 10px;
		}


}


@media screen and (max-width: 480px) {


	header {
		height: 50px;
	}

	#logo {
		font-size: 1.5em;
		margin-left: -1.5em;
	}

	#arrow {
		height: 1.5em;
		width: 1.5em;
	}











	/**********************************************************
	FOOTER
	**********************************************************/



}





