
/**********************************************************
MAIN STYLES
**********************************************************/


body {
	font-family: Verdana , Arial, sans-serif;
	min-height: 750px;
	background-image: url('/static/symphony.png');
}



/**********************************************************
HEADER
**********************************************************/


header {
	width: 100%;
	height: 95px;
	background: #A8353A;
	color: #fff;
	border-bottom: 5px solid #C4666A;
}

#arrow {
	width: 2em;
	height: 2em;
	float: left;
	margin: 2.5%;
	display: none;
}

#logo { 
	font: 2em 'Cutive', sans-serif;
	width: 60%;
	margin: 30px 2.5%;
	float: left;
}

#logo a {
	text-decoration: none;
	color: #fff;
}

#nav-top {
	font:'Open Sans', sans-serif;
	width: 20%;
	margin: 2.5%;
	text-align: right;
	float: right;
}

#nav-top a {
	text-decoration: none;
	color: #fff;
}


/**********************************************************
MAIN CONTENT
**********************************************************/


#content {
	max-width: 480px;
	margin: 0 auto;
	padding: 50px 0 60px;
	text-align: center;
	min-height: 425px;
}

#content .question {
	margin-bottom: 50px;
	font-size: 1.5em;
	font-weight: bolder;
	max-width: 100%;
}

#content img {
  max-width: 100%;
}

.answers {
	width: 95%;
	margin: 0 auto;
	max-width: 95%;
}

.answers ul {
	list-style: none;
}

.answer {
	font-size: 1.25em;
	background: rgb(168,53,58);
	width: 95%;
	height: 40px;
	max-width: 95%;
	padding: 10px;
	margin: 12px auto;
	display: none;
	font-size: 1.25em;
	background: rgb(168,53,58);
	text-align: center;
	cursor: pointer;
}

.answer a {
	text-decoration: none;
	color: #fff;
}

.answer:hover {
	background: #C4666A;
}

.answer:active {
	background: #000;
}

.comment {
  display: none;
  min-height: 500px;
}

/**********************************************************
WHAT IS THIS PAGE
**********************************************************/

#title {
	margin-bottom: 20px;
	font-size: 1.5em;
	font-weight: bolder;
	max-width: 100%;
}

/**********************************************************
BACK BUTTON
**********************************************************/


#back-button a {
	font-family:'Cutive';
	text-align: center;
	text-decoration: none;
	font-size: 1.25em;
	width: 50px;
	margin: 0 auto 30px;
	color: black;
	display: block;
}


/**********************************************************
FOOTER
**********************************************************/

#nav-bottom {
	display: none;
}

footer {
	text-align: center;
	font-size: .75em;
	padding-top: 10px;
	width: 300px;
	margin: 0 auto 10px;
}

footer a {
	margin: 10px auto 0;
	text-decoration: none;
	color: black;
}

.social-icon {
	width: 25px;
	height: 25px;
	padding: 10px;
}










