
/**********************************************************
MAIN STYLES
**********************************************************/


body {
	font-family: Verdana , Arial, sans-serif;
}



/**********************************************************
HEADER
**********************************************************/


header {
	width: 100%;
	height: 100px;
	background: #A8353A;
	color: #fff;
}

#logo { 
	font: 2em 'Changa One', sans-serif;
	width: 60%;
	margin: 2.5%;
	float: left;
}

#logo a {
	text-decoration: none;
	color: #fff;
}

#nav {
	font:'Open Sans', sans-serif;
	width: 20%;
	margin: 2.5%;
	text-align: right;
	float: right;
}

#nav a {
	text-decoration: none;
	color: #fff;
}

/**********************************************************
BACK BUTTON
**********************************************************/


#back-button a {
	font-family:'Changa One';
	text-align: center;
	text-decoration: none;
	font-size: 1.5em;
	width: 50px;
	margin: 0 auto 15%;
	color: black;
	display: block;
}


/**********************************************************
MAIN CONTENT
**********************************************************/


#content {
	max-width: 480px;
	margin: 0 auto;
	padding: 50px 0 60px;
	text-align: center;
}

#content .question {
	margin-bottom: 50px;
	font-size: 1.5em;
	max-width: 100%;
}

.answers {
	width: 95%;
	margin: auto;
}

.answers ul {
	list-style: none;
	max-width: 100%;
}

.answer {
	width: 95%;
	max-width: 95%;
	padding: 10px;
	margin: 10px;
	display: block;
	font-size: 1.25em;
	background: rgb(168,53,58);
	text-align: center;
	overflow: none;
}

.answer a {
	text-decoration: none;
	color: #fff;
}

.comment {
  display: none;
}


/**********************************************************
FOOTER
**********************************************************/

footer {
	text-align: center;
	font-size: .75em;
	padding-top: 10px;
	width: 300px;
	margin: 0 auto;
}

footer p {
	margin: 10px auto 0;
}

footer a {
	text-decoration: none;
	color: black;
}

.social-icon {
	width: 25px;
	height: 25px;
	margin: 5px;
}










