#content {
  max-width:600px;
}

#content img {
  max-width: 100%;
}

.concert {
  padding: 1.5em;
  padding-top: 1em;
  background-color: rgba(143,143,143,0.2);
  margin: 1.5em;
}

.concert-title {
  font-weight: bold;
}

/*.concert-date {
  float: right;
}*/

.concert-img {
  padding-top: 1em;
  padding-bottom: 1em;
  clear: both;
}

.concert-description,
.concert-highlight {
  text-align: left;
}

.suggestions-explanation {
  padding: 0 1.5em;
  margin-bottom: 50px;
  font-size: 1.5em;
  max-width: 100%;
}

.youtube {
  width: 100%;
  max-width: 100%;
  margin: 1.5em 0 0 0;
}