{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true"<
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="cleartype" content="on">
    <link rel="stylesheet" type="text/css" href="{% static "normalize.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "global.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "global-responsive.css" %}">

    {% block css %}
    {% endblock css %}
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="//underscorejs.org/underscore-min.js" ></script>
    <script type="text/javascript" src="//backbonejs.org/backbone-min.js" ></script>
    {% block js %}
    {% endblock js %}
	<title>How Do I Symphony? | KW Symphony</title>
  </head>
  <body class="{{body_classes}}">
  	<header>

  		<div class="back-button back-button-arrow">{% block backlink %}
          <a href="javascript:void(0);"><img src="/static/arrow-282-48.png"></a>

        {% endblock backlink %}</div>
      <h1 id="logo"><a href="/">How Do I Symphony?</a></h1>
  		<h3 id="nav-top"><a href="/what-is-this">What is this?</a></h3>
  	</header>  	

    <div id="content">
      {% block main %}
      {% endblock main %}
    </div>
  	
    <section class="back-button back-button-text">

      <p>
        {% block backlink2 %}
          <a href="javascript:void(0);">Back</a>
        {% endblock backlink2 %}
      </p>
    </section>
    
    <footer>
      <h3 id="nav-bottom"><a href="/what-is-this">What is this?</a></h3>
      <a href="http://twitter.com/kw_symphony/" target="_blank"><img src="/static/twitter.png" alt="Twitter" class="social-icon"></a>
      <a href="http://facebook.com/kwsymphony" target="_blank"><img src="/static/facebook2.png" alt="Facebook" class="social-icon"></a>
      <a href="http://youtube.com/kwsymphony" target="_blank"><img src="/static/YouTube.png" alt="YouTube" class="social-icon"></a>
      <a href="http://procatinator.com/" target="_blank"><img src="/static/cat.png" class="social-icon" alt="Procatinator"></a>
      <p>&copy; 2015 Kitchener-Waterloo Symphony</a></p>
    </footer>
  </body>
</html>
    
