{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
    {% block css %}
    {% endblock css %}
    <script type="text/javascript" src="//backbonejs.org/backbone-min.js" />
    <script type="text/javascript" src="{% static "custom.js" %}"/>
    {% block js %}
    {% endblock js %}
  </head>
  <body>
    {% block header %}
    {% endblock header %}
    <div id="content">
      {% block main %}
      {% endblock main %}
    </div>
  </body>
</html>
    
