{% extends "base.html" %}
{% load appcode_extras %}

{% block main %}
<table><thead>
  <th>Answer</th>
  {% for concert in concert_list %}
    <th>{{concert}}</th>
  {% endfor %}
</thead><tbody>
  {% for answer in answer_list %}
    <tr>
      <td>{{answer.answer}} ({{answer.pk}})</td>
      {% for concert in concert_list %}
        <td><input name="mapping-a{{answer.pk}}-c{{concert.pk}}" 
                   value="{{score_list | get_item:answer.pk | get_item:concert.pk }}"
                   size="3" />
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
</tbody></table>
{% endblock main %}
