{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "responsive.css" %}">
{% endblock css %}

{% block js %}
<script type="text/javascript">
  ORCA = new Object();
  ORCA.ip_address = "{{ ip_address }}"; //not working
  ORCA.ip_address = "192.168.5.100";
</script>
<script type="text/javascript" src="{% static "helpers.js" %}"></script>
<script type="text/javascript" src="{% static "models.js" %}"></script>
<script type="text/javascript" src="{% static "collections.js" %}"></script>
<script type="text/javascript" src="{% static "auth.js" %}"></script>
<script type="text/javascript" src="{% static "router.js" %}"></script>
<script type="text/javascript" src="{% static "main.js" %}"></script>
<script type="text/javascript" src="{% static "custom.js" %}"></script>
{% endblock js %}

{% block main %}
<div class="question">
</div>
<div class="answers">
</div>
{% endblock main %}
