{% extends "base.html" %}
{% load appcode_extras %}
{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static "scores.css" %}" >
{% endblock css %}

{% block main %}

{% if messages %}
  <ul class="messages">
  {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}}</li>
  {% endfor %}
</ul>
{% endif %}

<form method="POST" action="/scores/submit/">
{% csrf_token %}
<input type="submit" value="Submit">
<table class="table table-striped table-hover table-bordered table-condensed table-responsive"><thead>
  <th>Answer</th>
  {% for concert in concert_list %}
    <th>{{concert}}</th>
  {% endfor %}
</thead><tbody>
  {% for answer in answer_list %}
    <tr>
      <td>{{answer.answer}} ({{answer.pk}})</td>
      {% for concert in concert_list %}
        {% with score=score_list|get_item:answer.pk|get_item:concert.pk %}
          <td {% if score.score %}class="success"{% endif %}>
            <input name="mapping-{{score.pk}}"
                   value="{{score.score}}"
                   size="3" />
          </td>
        {% endwith %}
      {% endfor %}
    </tr>
  {% endfor %}
</tbody></table>
<input type="submit" value="Submit">
</form>
{% endblock main %}
