{% extends "base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static "suggestions.css" %}">
{% endblock css %}

{% block main %}
  <p class="suggestions-explanation">Nice work! We found some shows that match your interests perfectly. See you at Centre in the Square!</p>
  {% for concert in concert_list %}
    {% include "concert.html" with concert=concert %}
  {% endfor %}
{% endblock main %}

{% block backlink %}
  <a href="/"><img src="/static/arrow-282-48.png" id="arrow"></a>
{% endblock backlink %}

{% block backlink2 %}
  <a href="/">Go Back to the Beginning</a>
{% endblock backlink2 %}
