{% extends "base.html" %}

{% block js %}
<script type="text/javascript">
  console.log("you could use this to set the real back link.");
</script>
{% endblock js %}


{% block main %}


<h3 id="title">We want you to have a great time enjoying great music.</h3>

<div id="cat-gif-large">
	<iframe src="//giphy.com/embed/pEGIFM7NMgWVG?html5=true" width="480" height="360" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>

<div id="cat-gif-mobile">
	<!-- Piano cat -->
	<iframe src="//giphy.com/embed/pEGIFM7NMgWVG?html5=true" width="90%" height="250px" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>

<div id="words">
	<p>Sometimes you forget that the symphony's an option--that's okay! But it's an option with gorgeous acoustics, atmosphere and drinks, so try to remember it next time.</p>

	<p>Maybe you haven't been in a while, or maybe you've never been. DON'T PANIC. This website will help you find the show for you. Plus cat videos. </p>
</div>


{% endblock main %}

{% block backlink %}
  <a href="/">Back</a>
{% endblock backlink %}

{% block backlink2 %}
  <a href="/"><img src="/static/arrow-282-48.png" id="arrow"></a>
{% endblock backlink2 %}
