{% extends "base.html" %}

{% block js %}
<script type="text/javascript">
  console.log("you could use this to set the real back link.");
</script>
{% endblock js %}


{% block main %}
 

<h3 id="title">We want you to have a great time enjoying great music.</h3>

<!-- Tamborine cat -->
<!-- <iframe src="//giphy.com/embed/jESekdYWXeiKk?html5=true" width="480" height="316" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> -->

<!-- Piano cat -->
<iframe src="//giphy.com/embed/pEGIFM7NMgWVG?html5=true" width="480" height="360" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

<!-- Conductor cat -->
<!-- <iframe src="//giphy.com/embed/ToMjGpSnYh4x2eQ0VQ4?html5=true" width="480" height="578" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> -->

<p>But sometimes you forget that the symphony's an option--an option with gorgeous acoustics, atmosphere and drinks.</p>

<p>Maybe you haven't been in a while, or maybe you've never been. DON'T PANIC. This website will help you find the show for you. Plus cat videos. </p>

<a href="/">Go back</a>


{% endblock main %}
